.MuiAppBar-colorPrimary {
  color: #3f3c3c !important;
  background-color: white !important;
  margin: 15px;
  border-radius: 3px;
}

.PrivateTabIndicator-colorSecondary-4 {
  background-color: #168d88 !important;
}

.MuiAppBar-root {
  width: 93% !important;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
}

.MuiTab-root {
  padding: 6px 12px;
  overflow: hidden;
  position: relative;
  font-size: 0.875rem;
  max-width: 264px;
  min-width: 72px;
  box-sizing: border-box;
  min-height: 48px;
  text-align: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  white-space: normal;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.MuiTabs-flexContainer {
  display: flex;
  justify-content: space-around !important;
}

.pic,
.pic img {
  width: 375px;
  height: 375px;
  display: inherit !important;
}

.contact-container {
  display: flex;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  height: 60px;
  padding: 15px;
  margin-top: -45px;
  background-color: white;
  box-shadow: 0px 18px 49px 5px rgba(0, 0, 0, 0.38);
  align-items: center;
  justify-content: space-between;
}

.contact-name {
  display: flex;
  flex-direction: column;
  width: 215px;
  height: 60px;
}

h2,
h4 {
  margin: 0;
}

.logo-div {
  display: flex;
  width: 45px;
  margin: 0 20px;
  img {
    width: 80%;
    height: auto;
    margin: auto;
  }
  border-left: 1px grey solid;
}

.presentation {
  display: flex;
  margin: 30px 10px;
}

.presentation p {
  text-align: justify;
  margin: 0;
  padding: 15px;
  margin-bottom: 80px;
}

.sos {
  margin-bottom: 100px;
}

.MuiTabs-flexContainer {
  display: flex !important;
  min-height: 85px !important;
}

.MuiTab-root {
  font-family: "CentraNo2-Bold" !important;
  font-size: 1.1rem !important;
}

.MuiBox-root-8,
MuiBox-root-12,
MuiBox-root-9,
MuiBox-root-10,
MuiBox-root-30,
MuiBox-root {
  padding: 0px !important;
}

.PrivateTabIndicator-colorSecondary-4,
.PrivateTabIndicator-colorSecondary-1,
.PrivateTabIndicator-colorSecondary-2,
.PrivateTabIndicator-colorSecondary-3,
.PrivateTabIndicator-colorSecondary-5,
.PrivateTabIndicator-colorSecondary-6,
.PrivateTabIndicator-colorSecondary-7,
.PrivateTabIndicator-colorSecondary-8,
.PrivateTabIndicator-colorSecondary-9 {
  background-color: #168d88 !important;
  height: 15px;
  padding: 2px;
}
