.user-home {
  display: flex;
  flex-direction: column;

  .menu-item {
    display: flex;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06), 0px 2px 14px rgba(0, 0, 0, 0.04),
      0px 6px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    padding: 30px;
    &:nth-child(1) {
      margin-top: -30px;
    }
    &.alert {
      min-height: 94px;
      background-color: #cc223d;
      color: white;
      margin-top: -82px;
      padding: 20px;
      justify-content: center;
      border-radius: 11px;
    }

    h2,
    h1 {
      margin: 0;
      padding: 0;
      font-size: 25px;
    }
    p {
      margin: 0;
      padding: 0;
    }

    .img-div {
      display: flex;
      margin-right: 15px;

      img {
        width: 100%;
      }
    }

    p {
      text-align: start;
    }
  }

  .user-map {
    width: 100vw;
  }
}

.alertimg {
  animation: sd 1s infinite;
}

@keyframes sd {
  from {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }

  to {
    transform: scale(0.95);
  }
}

.copyrigdht {
  padding: 30px;
  background-color: #168d88;
  text-align: center;
  color: white;
}
