.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #168d88;

  .item-text {
    h1 {
      margin-bottom: 0px;
      text-align: center;
    }
  }

  .logo {
    padding: 30px;
    padding-top: 120px;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 40px;
    color: white;
    background-color: #12a49e;
    font-family: "CentraNo2-Bold";
    font-size: 1rem;
    height: 21px;

    &.light {
      color: #168d88;
      background-color: white;
      margin-bottom: 15px;
    }

    img {
      margin-right: 10px;
    }
  }

  .illustration-home {
    margin-top: 91px;
  }
}

.light {
  background-color: #d3e8ee;
  .textSizeLight {
    font-size: 1.6rem;
    font-family: "Roboto-Light";
    margin-bottom: 35px;
  }
  .button {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 40px;
    color: white;
    background-color: #12a49e;
    text-align: center;
    justify-content: center;
    font-family: "CentraNo2-Bold";
    font-size: 1.5rem;
    height: 30px;

    &.light {
      color: #168d88;
      background-color: white;
    }
    img {
      margin-right: 10px;
    }
  }
  .container {
    h1 {
      color: #12a49e;
    }
    padding: 30px;
    text-align: center;
    font-size: 22px;
    color: #424242;
  }
}

.img-block {
  margin-bottom: -20px;
}

.data-number {
  padding: 35px;
  padding-bottom: 5px;
  background-color: #168d88;
  text-align: center;
  justify-content: center;
  color: white;
  h1 {
    margin: -15px;
    margin-top: 15px;
  }

  .isOpac {
    opacity: 0;
  }

  .isVisible {
    opacity: 1;
    transition: opacity 2s ease-in;
  }
}

.copyright {
  margin-top: 60px;

  width: 100%;
  position: relative;
  z-index: 2;
}

.w-100-img {
  width: 100%;
}

.hello {
  color: white;
  h1 {
    font-size: 2.4rem;
  }
  p {
    font-family: "Roboto-Light";
    font-size: 1.4rem;
    margin-top: -8px;
  }
}

.already-account {
  color: white;
}

.infosStat {
  padding: 20px;
  border-bottom: solid 1px #dddddd9e;
  /* border-radius: 35px; */
  margin-bottom: 5px;

  img {
    padding: 15px;
  }
  h1 {
    font-family: "CentraNo2-Bold";
  }
  p {
    font-family: "Roboto-Light";
    font-size: 20px;
  }
}
