.MuiButton-containedPrimary {
  background-color: #168d88 !important;
}

.MuiTypography-colorPrimary {
  color: #168d88 !important;
}

.login-user {
  min-height: 100vh;
  .container {
    padding: 15px;
  }

  .makeStyles-paper-2 {
    min-height: 100vh !important;
  }
}
