.back {
  display: flex;
  background-color: #168d88;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 100px ;

  .icon {
    background-color: #16726f;
    padding: 30px;
  }

  .txt {
    margin-left: 15px;
    color: white;
    text-decoration: none;
  }
}
