.copyrigdht {
  padding: 30px;
  background-color: #168d88;
  text-align: center;
  color: white;
  font-family: "CentraNo2-Bold";
  display: flex;
  justify-content: space-between;
  align-items: center;

  .robot {
    padding-left: 25px;
    border-left: solid 1px #dddddd61;
  }
}
